/*!
 * Start Bootstrap - 4 Col Portfolio (https://startbootstrap.com/template-overviews/4-col-portfolio)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-4-col-portfolio/blob/master/LICENSE)
 */

body {
  padding-top: 54px;
}

a:hover {
  text-decoration: none;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.item {
  margin-bottom: 30px;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

.action {
  cursor: pointer;
  display: inline;
  float: left;
  text-align:center;
  font-size: 1.4em;
  width: 30%;
}

.actionicons i {
  display: inline;
  color: #0d5875;
}

.actionicons i:hover {
  color: #083b4e;
}

.actionicons {
  padding-top: 16px;
}